body{
	  margin: 0;
	  padding: 0;
	  color:#000000;
	  background-image:url(images/back.png);
}

#container{
  width: 900px;
  margin:0 auto;
  border: 2px solid #E3E3E3;
  background-color: #FFFFFF;
}

header #logo{
	float: ;
	margin: 10px;
}

header h2{
	float: right;
	color: #666666;
	font-size: 0.75em;
	margin: 10px;
	padding-top: 40px;
	text-align: right;
	font-weight: normal;
}

section{
  padding: 10px;
   margin: 0px 20px;
   border: 0px solid#BBBBBB;
   border-radius:5px;
}

section h2{
  padding: 10px 10px 10px 10px;
  color: darkslategray;
  background-color: #EEEEEE;
  border-raaius: 3px;
}

article{
	float: right;
	width: 700px;
}
	
#side{
	width: 180px;
	height: auto;
	float: right;
	padding: 30px 0px 0px 15px;
}
	
#menu{
	background-color: #999999;
	color: white;
	text-align: center;
	font-weight: 800;
	line-height: 40px;
	width: auto;
	border-style: solid;
	border-color: #999999;
	border-width: 1 1 1 1;
	border-radius: 3px;
}
	
.button{
	color: #999999;
	text-align: center;
	font-weight: 800;
	line-height: 30px;
	width: auto;
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #005087;
	border-width: 1px 1px 1px 1px;
	margin: 10px 0px;
	padding: 5px 5px 5px 10px;
	border-radius:3px ;
}

.clear{
  clear: both;
}

footer{
  color: darkslategray;
  border-top: 2px dashed#BBBBBB;
  margin-top: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 0.75;
  text-align: center;
}