




























































































































































































































































































































































































































































































































































































































































































































body{
    margin: 0;
    padding: 0;
    color: #000000;
    background-image: url(images/back2.png);
}

#container{
 width: 100%;
 background: #FFFFFF;
}

header{
 background-color: #000000;
 height: 120;
}

#side1{
 width: 150px;
 float: left;
 margin-top: 20px;
}

#menu{
 width: auto;
 text-align: center;
 height: 120px;
 background-color: #000000;
}

.button{
 color: #FFFFFF;
 text-align: center;
 font-weight: 800;
 line-height: 30px;
 width: auto;
 background-color: #000000;
 margin: 10px 0;
}

#side2{
 float: right;
 width: 120px;
 background-color: #FFFFFF;
 text-align: centre;
 margin-top: 3px;
}

#main{
 padding: 0px 15px;
 margin: 0px 120px 0px 160px;
}

sectino{
 margin: 10px auto;
}

section h2{
 color: #FFFFFF;
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 background-color: #000000;
 padding: 10px;
}

.box{
 border: 1px solid #BBBBBB;
 padding: 10px;
}

.cleart{
 clear: both;
}

footer{
 background-color: #000000;
 height: 40px;
}

